@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
 margin:0;
 padding:0;
 list-style:none;
 text-decoration:none;
 box-sizing: border-box;
 border: none;
 font-family: 'Kdam Thmor Pro', sans-serif;
 }


fieldset{
 width:100%;
 background-color: #d21617;
 border: 4px solid red;
 padding:10px  20px;
 border-radius: 10px;
 font-size: 20px;
}

legend{
 background-color: red;
 border: 4px solid red;
 border-radius: 5px;
 padding: 2px 3px ;
 color:#fff;
 text-align: center;
 
}


.form-container{
background-color: #fff;
width:450px;
margin-left:auto;
margin-right: auto;
padding:20px 30px;
margin-top:2vh;
border-radius: 10px;
align-items: center;
color:#000
}

form {
margin-top: 30px;
margin-bottom:40px;
}

label, input, textarea {
text-align: left;
display:blok;
width:100%;
}


label{
color:#fff;
font-weight: bold;
font-size: 0.8rem;

}


input {
border-bottom: 2px solid #333;
border-radius: 6px;
padding:10px;
font-size: .8rem;
margin-bottom: 20px;
outline: none;
}

input:focus ~ .lab-inp {
 margin-top: -20px;
border-bottom: 2px solid #d21617;
}

.button{
width:100%;
height:60px;
background-color:red;
color:#fff;
padding: 20px;
border-radius: 6px;
cursor:pointer;
transition:.8s;
font-size: 18px; 
display:flex;
justify-content:center;
align-items:center;
font-weight: bold;
border: 1px solid #fff;
outline: none;
margin-top: 25px;
}
.button:hover{
 background-color: #fff;
 border: 4px solid #d21617;
 border-radius: 6px;
 color:#d21617;
}
textarea {
 background-color:#ffdfd4;
 border-radius: 6px;
cursor:pointer;
 transition:.8s;
}

textarea:hover{
 background-color:#fff;
}
