@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.banner-container{
 background-image: url('../../assets/img/banner.jpg');
 background-repeat: no repeat;
 background-size: cover;
 width: 100%;
 height:100vh;
}

#trailer-container {
 width:100%;
 height:350px;
 display: flex;
 justify-content: center;
 background-color: #000;
}
.content {
 width:60%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.trailer {
 width:60%;
}
#sinopse {
 width:50%;
 display:flex;
 flex-direction: column;
 justify-content: space-between;
 margin-left: 30px;
}

.description{
 color:#fff;
 font-size: 1.2rem;
 font-family: 'Kdam Thmor Pro', sans-serif;
 width:172%;
 max-width:980px;

}

.button{
 width:200px;
 height:60px;
 background-color:#d21617;
 color:#fff;
 padding: 20px;
 border-radius: 5px;
 cursor:pointer;
 transition:.8s;
 font-size: 18px; 
 display:flex;
 justify-content:center;
 align-items:center;
 font-weight: bold;
 border: none;
 outline: none;
 
 }
  
.button:hover {
 background-color:#fff;
 color:#000
}
